numpy~=1.23.5
pandas==1.5.3
scikit-learn==1.5.0
tensorflow==2.12.1
tensorflow-estimator==2.12.0
matplotlib==3.7.1
chardet==5.1.0
json5==0.9.14
tqdm~=4.67.1
pillow~=10.4.0
pip~=25.0.1
wheel~=0.45.1
protobuf~=4.25.8
pytz~=2025.2
requests~=2.32.4
keras~=3.9.0
colorama~=0.4.6
zipp~=3.20.2
setuptools~=75.3.2
scipy~=1.10.1
MarkupSafe~=2.1.5
python-dateutil~=2.9.0.post0
wcwidth~=0.2.13
six~=1.17.0
watchdog~=4.0.2
contourpy~=1.1.1
fonttools~=4.57.0
packaging~=25.0
simplejson~=3.20.1
jinja2~=3.1.6
prettytable~=3.11.0
pyecharts~=2.0.8
pyparsing~=3.1.4
cycler~=0.12.1
kiwisolver~=1.4.7
tomli~=2.0.1
autocommand~=2.2.2
inflect~=7.3.1
more-itertools~=10.3.0
typeguard~=4.3.0
importlib-metadata~=8.5.0
platformdirs~=4.2.2
importlib-resources~=6.4.5